/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  HEADER  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

/* SOURCE: https://www.cssscript.com/demo/header-navbar-templates/header-1.html#
https://www.cssscript.com/header-navbar-templates/ */

ol,
ul {
    list-style: none;
}

/* html {
    border: 5px solid rgb(243, 56, 56);
} */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#navbar.sticky {
    /* !!! FIXED NOT WORKING, REPLACED BY STICKY !!! */
    /* position: fixed; */
    position: sticky;
    top: 0px;
    z-index: 2;
    opacity: 0.97;
    /* margin-bottom: 100px; */
    /* width: 100%; */
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* #navbar.sticky + .content {
    padding-top: 100px;
} */

/* HEADER/FOOTER BACKGROUND */
.site-header,
footer {
    position: relative;

    background-color: #def7ff;
    /* background-color: #004d88d2; */
    /* background-color: #10161b; */
}

.site-header.dark-theme,
.footer.dark-theme {
    /* background-color: #def7ff; */
    /* background-color: #004d88d2; */
    background-color: #10161b;
}

/* ACTIVE NAV LINK */
.nav-link.active-link {
    /* height: 58.5px; */
    /* color: black; */
    /* color: orange; */
    /* color: rgb(0, 0, 0); */
    /* color: white; */
    /* background: tomato; */
    /* background: orange; */
    /* background: #1584d8; */
    /* color: orange; */
    border-bottom: 3px solid rgb(255, 167, 4);
    /* border-bottom: 5px solid red; */
    /* border-bottom: 2px solid black; */
    font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.wrapper--nav {
    display: flex;
    /* justify-content: space-between; */
    /* !!! */
    /* width: 90%; */
    max-width: 1000px;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* +++ */
    height: 50px;
}

/* *,
*:before,
*:after {
    box-sizing: border-box;
} */

/* NAV LINKS */
a {
    /* letter-spacing: 1px; */
    text-decoration: none;
    font-weight: 400;
    color: #222;
    /* color: #dadada; */
}

.site-header.dark-theme a {
    color: #dadada;
}

a.nav-link {
    display: block;
    width: 100px;
    height: 50px;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding: 1.15rem 1rem;
    /* border: 1px solid black; */
}

.site-header.dark-theme a.nav-link {
    color: #dadada;
    /* border: 1px solid white; */
}

/* 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 BRAND 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰*/
a.brand {
    opacity: 0.9;
    font-weight: 500;
    font-size: 25px;
    /* letter-spacing: 0.5px; */
    color: #000000;
    /* color: #dbdbdb; */
}

.site-header.dark-theme a.brand {
    opacity: 0.9;
    font-weight: 500;
    font-size: 25px;
    /* color: #000000; */
    color: #dbdbdb;
}

/* BRAND SPANS */
.digit-2 {
    font-weight: 500;
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px;
    color: orange;
    /* color: rgba(255, 166, 0, 0.886); */
}

.span--dot-com {
    font-size: 16px;
    font-weight: 100;
    margin-left: 1px;

    /* color: rgb(234, 216, 182); */
}

/* BRAND HOVER */
a.brand:hover {
    /* font-weight: 500; */
    opacity: 1;
    /* MATCHES 600 FONT WEIGHT */
    /* letter-spacing: 0.011rem; */
    /* letter-spacing: 0.004rem; */
}

a.brand:hover .span--dot-com {
    letter-spacing: normal;
    /* opacity: 1; */
}

a.brand:hover .digit-2 {
    font-weight: 500;
}

/* NAV LINKS HOVER */
a.nav-link:hover {
    font-weight: 500;
    /* background: rgb(8, 8, 8); */
    /* background: rgba(255, 99, 71, 0.392); */
    background: #eaf0f1;
    /* background: var(--wrap-highlight--light); */
    /* color: #000000; */
    /* color: orange; */
}

.site-header.dark-theme a.nav-link:hover {
    background: rgb(8, 8, 8);
    /* background: rgba(255, 99, 71, 0.615); */
    /* color: #000000; */
    /* color: orange; */
}

/* .digit-2:hover {
    color: #dadada;
} */

/* ALING NAV ITEMS WITH BRAND HORIZONTALLY */
/* .nav__item a {
    display: block;
    font-weight: 100;
    padding: 1.15rem 1rem;
} */

.nav__toggle {
    display: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* body {
    font-family: "Roboto", sans-serif;
} */

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

button.nav__toggle {
    width: 45px;
    height: 25px;
    border-style: none;
    /* border: 1px solid black; */
    /* border-radius: var(--button-border-radius); */
}

.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.button span {
    display: none;
}

@media (min-width: 600px) {
    .button span {
        display: initial;
    }
}

.button--icon {
    min-width: initial;
    padding: 0.5rem;
}

/* _______________________________________________________ */
/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav__wrapper {
        display: flex;
    }
}

/* HAMBURGER SIZE */
@media (max-width: 599px) {
    /* .site-header {
        z-index: 19;
    } */

    /* BRAND LINK */
    .wrapper--nav {
        padding-top: 10px;
        padding-bottom: 20px;
        /* border: 1px solid red; */
    }

    /* HAMBURGER */
    i.fa-solid {
        margin-bottom: 6px;
        /* color: black; */
        color: rgb(194, 194, 194);
    }

    /* SLIDE UP */
    /* !!! BUG: TRANSITION IS TRIGGERED WITH RESIZE AND ORIENTATION CHANGE !!! */
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        /* background-color: #d9f0f7; */
        /* background-color: #529ce1; */
        /* background-color: #529ce1d9; */
        background-color: #0b121ae8;
        /* visibility: hidden; */
        opacity: 0;
        transform: translateY(-100%);
        /* DISABLED DUE TO BUG */
        /* transition: transform 0.4s ease-out, opacity 0.5s ease-out; */
    }

    /* SLIDE DOWN */
    .nav__wrapper.active {
        /* visibility: visible; */
        opacity: 1;
        z-index: -1;
        transform: translateY(0);
        transition: transform 0.4s ease-out, opacity 0.6s ease-out;
    }
}

@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    i.fa-solid.fa-bars {
        display: block;
        /* height: 15px; */
        /* border: 1px solid green; */
    }

    a.nav-link {
        width: 100%;
    }

    .nav-link.active-link {
        /* color: orange; */
        /* color: black; */
        /* NOT WORKING, MAKES TEXT DISABPPEAR */
        font-weight: 500;
        border-bottom-width: 1px;

        /* background: tomato; */
        /* background: rgba(255, 166, 0, 0.513); */
        /* background: rgba(63, 63, 63, 0.576); */
    }

    a.nav-link:hover {
        font-weight: 500;
        background: rgba(34, 34, 34, 0.458);
        /* background: rgba(255, 99, 71, 0.615); */
        /* color: #000000; */
        /* color: orange; */
    }
}

.footer {
    bottom: 0px;
    height: 100px;
    margin-top: 50px;
}

/* .keyboard-container {
    z-index: 345;
    height: 30px;
    background: red;
} */

/* TO TOP ARROW */
/* SOURCE: https://codepen.io/ekfuhrmann/pen/pVvpqM */
a#top-arrow {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 800;
    color: #333;
    font-size: 30px;
    background-color: #ededed;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-border-radius);
    position: sticky;
    left: 94%;
    bottom: 10%;
    /* box-shadow: 0 0px 0px rgba(#000, 0.2), inset 0 0 0 1px rgba(#000, 0.1); */
    transition: 200ms;
}

a#top-arrow.hidden {
    display: none;
}

a#top-arrow:hover {
    /* background-color: var(--border-blue); */
    /* box-shadow: 0 4px 8px rgba(#000, 0.2), inset 0 0 0 1px rgba(#000, 0.15); */
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.502);
}

button:hover {
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.502);
}
