/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 TABLET SIZE 🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */


/* PORTRAIT */
/* @media only screen and (max-width: 767px) { */
/* @media only screen and (max-width: 767px) { */
@media only screen and (max-width: 1000px) {
    .site-header {
        display: none;
    }

    /* .scene--main {
        border: 5px solid red;
    } */

    /* CONTAINER BORDER WILL DISPLACE MESSAGE DIV */
    .container {
        /* background: rgb(227, 224, 200); */
        background: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        /* border: 5px solid teal; */
    }

    .stat-wrap,
    .colour-code-wrap,
    .counter-div,
    .message-div {
        /* WRAP HIGHLIGHT LIGHT */
        background: #ebebeb;
        background: #ebebeb3b;
    }

    /* BEGINNER CONTROLS */
    .controls-container,
    .card__face--back--controls {

        background: var(--wrap-highlight--light);
        /* background: #ebebeb3b; */
        border: 1px solid var(--border-grey);

    }

    /* TEMP FIX */
    .message-div {
        left: 252px;
    }

    .message-div.dark-theme {
        left: 250px;
    }

}

/* LANDSCAPE */
/* @media only screen and (max-height: 767px) { */
@media only screen and (max-height: 1023px) {

    .site-header {
        display: none;
    }


    /* .body {
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
            } */

    .scene--main {
        /* width: var(--app-width); */
        width: 100%;
        /* height: 750px; */
        /* !!! NOTICE HEIGHT IS NOW THE DEFAULT (PORTRAIT) WIDTH !!! */
        height: 100vh;
        margin: 0px auto;
        perspective: 800px;
        /* border: 5px solid red; */
    }

    /* CONTAINER BORDER WILL DISPLACE MESSAGE DIV */

    .container {
        background: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        /* border: 5px solid cornflowerblue; */
        margin-top: 0% !important;
    }

    .stat-wrap,
    .colour-code-wrap,
    .counter-div,
    .message-div {
        /* WRAP HIGHLIGHT LIGHT */
        background: #ebebeb;
        background: #ebebeb3b;
    }

    /* BEGINNER CONTROLS */
    .controls-container,
    .card__face--back--controls {
        background: var(--wrap-highlight--light);
        /* background: #ebebeb3b; */
        border: 1px solid var(--border-grey);

    }

    /* HIDE COLOUR CODES */
    .colour-code-container {
        display: none;
    }



    .instructions-container {
        /* margin: 0px auto; */
        height: 750px;
        /* !!! NOTICE HEIGHT IS NOW THE DEFAULT (PORTRAIT) WIDTH !!! */
        height: 100vh;
        margin-top: 0% !important;
    }

    /* TEMP FIX */
    .message-div {
        left: 264px;
    }

    .message-div.dark-theme {
        left: 263px;
    }
}